// colours used throughout
$link-color: #1e6887;

$yii-blue: rgb(30, 104, 135);//#1E6887
$yii-light-blue: rgb(36, 123, 160);//#247BA0

$yii-red: rgb(255, 22, 84);//#FF1654
$yii-green: rgb(68, 179, 160);//#44B3A0
$yii-yellow: rgb(243, 255, 189);//#F3FFBD
